{{ define "main" }}
<main class="content">
	{{ if eq .Section "tags" }}
	<h1>Viewing ⭐{{ .Data.Term }} events </h1>
	{{ end }}

	<h1>Upcoming Events</h1>
	{{ $events_reversed := where .Data.Pages.ByDate.Reverse "Type" "events" }}

	{{ $eventScratch := newScratch }}
<!-- Upcoming Events as determined by the time of site build -->
	{{ range $events_reversed }}

	{{ if ge .Date.Unix now.Unix }}
	{{ .Render "card" }}
<!-- We'll want to avoid printing the "no events" banner -->
	{{ $eventScratch.Set "has_new_event" true }}
	{{ end }}

	{{ end }}

	{{ if not ($eventScratch.Get "has_new_event") }}
	We don't have any upcoming performances... yet.
	{{ end }}

	{{ if not (eq .Section "tags") }}
<!-- Users have already seen the subscription nag if they're browsing tags -->
	Want to get notified about our next performance?
	{{ partial "subscribe.html" . }}
	{{ end }}

	{{ partial "separator.html" . }}
	<h1>Past events</h1>

<!-- Past Events as determined by the time of site build -->
	{{ range $events_reversed }}

	{{ if le .Date.Unix now.Unix }}
	{{ .Render "card" }}
	{{ end }}

	{{ end }}

</main>
{{ end }}
