/* animations.css */

/* Disable incredibly tacky blur in */
@keyframes focus {}

:root {
	/* Font Sizes */
	--title: 3.998rem;
	--subtitle: 2.827rem;
	--header: 1.999rem;
	--subheader: 1.414rem;

	/* Colors */
	--primary: rgb(240, 151, 28);
	--primary-dark: rgb(122, 0, 11);
	--primary-light: #ffecb3;
	--primary-text: rgb(241, 217, 167);
	--secondary-text: #333333;
	--accent: rgb(50, 100, 50);
	--divider: #bdbdbd;
	--white: rgb(250, 230, 220);

	/* Breakpoints */
	--sm: 576px;
	--md: 768px;
	--lg: 992px;
	--xl: 1200px;
}

/* style.css */

html {
	background-color: var(--primary-light);
}

a,
a:hover {
	color: black;
}

.header {
	background-color: var(--primary-dark);
	/* The default box-shadow expects that heading resizing javascript
	 * monstrosity, otherwise it only works on the blog page. It's simplest to
	 * just remove it entirely. */
	box-shadow: unset;
	/* dickbars are stupid. Removing this also allows us to not further
	 * pollute the site by requiring javascript to automatically
	 * calculate the height of the dickbar and adjusting on the fly */
	position: unset;
}

.header__title__link,
.header__title__link:hover {
	color: var(--white);
}

.hero {
	background-size: cover;
	/* The default 90vh is too full-screen and may cause the user to miss that
	 * there's more to scroll to
	 */
	height: 75vh;
}

.hero__caption {
	word-break: keep-all;
	hyphens: none;
}

.hero__caption ul {
	list-style-type: "\1F31F";
	list-style-position: inside;
}

.hero__caption ul a {
	color: var(--primary-text);
}

.hero__caption ul a:hover {
	color: var(--primary);
	text-decoration: underline;
}

.ripple-btn {
	color: var(--primary-text);
}

.ripple-btn:hover,
.ripple-btn:focus {
	color: var(--secondary-text);
	text-decoration: none;
}

.ripple-btn::after {
	/* Disable the annoying ripple effect */
	background-image: none;
	transform: none;
	transition: none;
}

.notfound,
.notfound img {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

.notfound__title {
	color: var(--primary-dark);
	font-size: var(--title);
	text-align: center;
	display: block;
}

.section,
.card__header__link,
.card__header__date,
.card__body {
	color: var(--primary-dark);
}

.separator {
	font-size: 1rem;
	color: var(--accent);
}

.separator img {
	user-select: none;
}

article.post {
	background-color: var(--primary-light);
	color: var(--primary-dark);
}

.content {
	color: var(--primary-dark);
	margin-right: 1.75rem;
	margin-left: 1.75rem;
}

article.post a:link,
.card__body a:link,
.section__content a:link {
	color: #0000EE;
	text-decoration: none;
}

article.post a:hover,
.card__body a:hover,
.section__content a:hover {
	color: #0000EE;
	text-decoration: underline;
}

article.post a:visited,
.card__body a:visited,
.section__content a:visited{
	color: #551A8B;
}

.copy a:link,
.copy a:visited {
	color: var(--white);
	text-decoration: underline;
}

.tags__tag a:link,
.tags__tag a:visited {
	color: var(--primary-dark);
}

.footer__cartoon img {
	padding: 1rem 30%;
	margin-left: auto;
	margin-right: auto;
}

.footer__social__link {
	background-color: var(--secondary-text);
}

.footer__social__link:hover,
.footer__social__link:focus {
	background-color: var(--secondary-text);
	color: var(--white);
}

.footer__social__link::after {
	border: 1.5px solid #333333;
}

.hamburger__items {
	/* defaults to white which is pretty hideous with our colors */
	background-color: var(--primary-dark);
	box-shadow: unset;
	/* I don't want a huge sidebar for only a few items, just a dropdown */
	height: unset;
	transform: translate(-100%, 0);
	transition: unset;
	padding: 0 0 1.75rem 0;
}

.hamburger__items__item__link:hover {
	/* Default is --primary-dark, which is the same as the bg */
	color: var(--primary-text);
}

.toggle .hamburger__toggle:checked ~ .hamburger__items {
	transform: translate(-100%, 0);
}

.toggle {
	/* FIXME: webkit/safari does not like position:absolute; it ends up
	 * shoving the menu icon to the top of the screen. This seems to
	 * work around it...*/
	margin: 1.3rem 0;
}

/* Media queries */
@media only screen and (max-width: 1024px) {
	/* The CTA button gets pushed to the left side by default */
	.cta__btn {
		margin-right: 0;
		margin-left: 0;
		width: unset;
		text-align: center;
	}

	.header__title {
		white-space: nowrap;
	}

	#mce-email {
		width: 100%;
	}

	#mc-embedded-subscribe {
		width: 100%;
	}

}

@media only screen and (max-width: 768px) {
	.hamburger__items {
		width: 30vw;
	}

	.hamburger__items__item {
		text-align: right;
	}

	.cta__btn {
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
	.footer {
		grid-template-areas: "social" "contact" "copy";
		grid-template-columns: 1fr;
	}

	#mc-embed-signup {
		justify-content: center;
		margin-bottom: 1.75rem;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}

	.copy {
		justify-content: center;
		margin-bottom: 1.75rem;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
	}
}


@media only screen and (max-width: 576px) {
	.hamburger__items {
		width: 80vw;
	}

	.hamburger__items__item {
		text-align: center;
	}

	.menu {
		display: none;
		visibility: hidden;
	}

	/* The CTA button gets pushed to the left side by default */
	.cta__btn {
		text-align: center;
	}

	.separator img {
		width: 80%;
		user-select: none;
	}
}

.post__header h1,
.post__body h2 {
	hyphens: none;
	word-break: keep-all;
}

.post__body a,
.post__body a:hover,
.card__header__link,
.card__header__link:hover {
	text-decoration: underline;
}

.post__body img {
	max-height: 20rem;
	margin-left: auto;
	margin-right: auto;
}

.post__body figure img,
.section__content figure img {
	margin: 1rem 0 0 0;
	width: 100%;
	max-height: 30rem;
	object-fit: cover;
	border: 0.25rem solid var(--primary);
}

.post__body audio {
	width: 100%;
}

.post__body figcaption.audio-title {
	float:left;
	font-style: normal;
	font-weight: bold;
}

.post__body figcaption.audio-artist {
	font-style: italic;
	float:right;
}

.mc-field-group label {
	cursor: text;
	display: block;
	align: center;
}

#mc-embed-signup {
	padding: 1.15rem 4.5rem;
}

#mce-email {
	min-width: 10rem;
	max-width: 15rem;
	padding: 0.5rem;
	margin: 1rem 0;
	background-color: var(--white);
	border: none;
	border-bottom: 0.25em solid var(--primary);
	color: var(--secondary-text);
	width: 100%;
}

#mc-embedded-subscribe {
	min-width: 5rem;
	max-width: 15rem;
	padding: 0.5rem;
	margin: 0.5rem 0;
	background-color: var(--primary);
	border: none;
	color: var(--secondary-text);
	width: 100%;
}

#mc-embedded-subscribe:hover {
	cursor: pointer;
}
