<footer class="footer">
    {{ if $.Site.Params.social }}
    {{ $items := $.Site.Params.social }}
    {{ $len := (len $items) }}

    {{ if gt $len 0 }}
    <div class="footer__social">
        {{ range $k, $v := $items }}
        {{ if $v}}
        <a href="{{ $v }}" class="footer__social__link" alt="{{ $k }}" aria-label="{{ $v }}" rel="noopener">
            <span><img src="/img/{{ $k }}.svg" alt=""></span>
        </a>
        {{ end }}
        {{ end }}
    </div>
    {{ end }}
    {{ end }}


    {{ partial "subscribe.html" . }}

    <div class="footer__cartoon">
        <img src="/img/pandawa.svg" alt=""/>
    </div>

    <div class="copy">
        <p>
            © Gamelan Sari Pandhawa<br>
            Select media licensed <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a><br>
            which is notated in metadata<br>
            <a href="https://gitlab.com/gamelan-sari-pandhawa/eugenegamelan.org/">Source code</a>
    </div>
</footer>
