<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow, noarchive" />
	{{ if eq ($.Title) ("Home") }}
	<title>{{ $.Site.Title }}</title>
	{{/* FIXME: Use .IsDescendant checking instead; This isn't elegant */}}
	{{ else if in .RelPermalink "/events/tags/" }}
	<title>{{ .Title | title }} events | {{ $.Site.Title }}</title>
	{{ else }}
	<title>{{ .Title }} | {{ $.Site.Title }}</title>
	{{ end }}
    {{ partial "favicon.html" . }}
	<meta name="description" content="{{ $.Site.Params.description }}" />

	{{ if .IsTranslated }}
	{{ range .AllTranslations }}
	<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
	{{ end }}
	{{ end }}

	{{ hugo.Generator }}

	{{ template "_internal/twitter_cards.html" . }}
	{{ template "_internal/opengraph.html" . }}

	<meta property="og:locale" content="{{ .Site.Language.Lang }}" />
	{{ if .IsTranslated }}
	{{ range .Translations }}
	<meta property="og:locale:alternate" content="{{ .Language.Lang }}" />
	{{ end }}
	{{ end }}

	<!-- CSS -->
	{{ partial "styles.html" . }}
</head>
