<main class="hero" {{ if $.Params.images }}
    style="background-image: linear-gradient(135deg, rgba(5, 2, 0, 1), rgba(30, 10, 0, 0.2)), url('{{ $.Site.BaseURL }}img/{{ print (index $.Params.images 0) }}');" {{ end }}>
    <div class="hero__caption" {{ if $.Site.Params.hero.textColor }} style="color: {{ $.Site.Params.hero.textColor }};"
        {{ end }}>
        {{ .Content }}
        {{ if $.Site.Params.cta.show }}
        {{ partial "cta-btn.html" . }}
        {{ end }}

        <ul>
        {{ range where site.Pages.ByDate "Type" "events" }}
        {{ if ge .Date.Unix now.Unix }}
        {{/* Main _index.md page is returned in the type search range */}}
        {{ if ne .LinkTitle "Events" }}
            <li><a href="{{ .Permalink }}">{{ .Date | time.Format "2006-01-02" }}: {{ .LinkTitle }}</a>
        {{ end }}
        {{ end }}
        {{ end }}
        </ul>
    </div>
</main>
