<div id="mc-embed-signup">
    <form action="https://eugenegamelan.us14.list-manage.com/subscribe/post?u=2c73c6062c53d45815c04edce&amp;id=ffe0413bc8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
        <div id="mc-embed-signup-scroll">

            <div class="mc-field-group">
                <label for="mce-email">Get emailed for our next event!</label>
                <input type="email" placeholder="Email address" value="" name="EMAIL" class="required email" id="mce-email">
            </div>

            <!--
            Real people should not fill this in and expect good things - do not
            remove this or risk form bot signups.
            -->
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>

            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_2c73c6062c53d45815c04edce_ffe0413bc8" tabindex="-1" value="">
            </div>

            <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>

        </div>
    </form>
</div>
