<figure {{ with .Get "class" }}class="{{ . }}"{{ end }}>
  {{ with .Get "title" }}<figcaption class="audio-title">{{ . }}</figcaption>{{ end }}
  {{ with .Get "artist" }}<figcaption class="audio-artist">{{ . }}</figcaption>{{ end }}
  <audio controls preload="{{ .Get "preload" | default "metadata" }}">
    {{ with .Get "opus" }}<source src="{{ . }}" type="audio/ogg">{{ end }}
    {{ with .Get "mp3" }}<source src="{{ . }}" type="audio/mpeg">{{ end }}
  </audio>
</figure>
